* {
  margin: 0;
  padding: 0;
}

:root {
  --text-color: black;
  --body-background-color: white;
  --title-footer-background: #2f303a;
  --change-color: #2196f3;
  --link-title-color: #212121;
  --link-ad-description-color: #757575;
  --team-background: #f5f4fa;
  --border-color: #eeeeee;
}

body {
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  background-color: var(--body-background-color);
  color: var(--text-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  font-family: "Raleway";
  color: var(--change-color);
  text-decoration: none;
}

.nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 50px;
  margin: 32px 93px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_off {
  display: flex;
  justify-content: space-between;
}

.left-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.link,
.link-ad {
  color: var(--link-title-color);
  font-weight: 500px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link-ad {
  color: var(--link-ad-description-color);
}

.navi-menu,
.navi-menu-address {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  list-style: none;
}

.icon-nav {
  width: 16px;
  max-height: 15px;
  margin-right: 10px;
  fill: var(--link-ad-description-color);
}

.icon-nav:hover {
  fill: var(--change-color);
}

.banner {
  background-color: var(--text-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(./images/banner-index.jpg);
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 41px;
}

.title h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--body-background-color);
  padding-top: 207px;
}

#button-index {
  background: var(--change-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--body-background-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 2px;
  border: 0;
}

.section {
  margin-top: 94px;
  margin-bottom: 94px;
}

.icon-article{
  width: 270px;
  height: 120px;
  background-color: var(--team-background);
  border-radius: 4px;
  margin-bottom: 30px;
}

.article {
  display: flex;
}

article:not(:last-child) {
  margin-right: 30px;
}

.focusing {
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--link-title-colorcolor);
  margin-bottom: 10px;
}

.description {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--link-ad-description-color);
}

.service {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-title-color);
  margin-bottom: 55px;
}

.job ul {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 30px;
}

.images {
  list-style: none;
  margin: 10px;
}

.banner-team {
  background: var(--team-background);
}

#team {
  width: 1200px;
  margin: 0;
  padding: 94px 0;
}

#team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-title-color);
  margin-bottom: 50px;
}

.team {
  background-color: var(--body-background-color);
  text-align: center;
  width: 270px;
  height: 428px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

#team ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

#team figcaption h3 {
  padding-top: 30px;
  padding-bottom: 10px;
}

#team figcaption p {
  color: var(--link-ad-description-color);
}

.banner-footer {
  background: var(--title-footer-background);
}

.address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 47px;
}

footer p {
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--body-background-color);
  margin: 0;
}

.mexico,
.footer {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--body-background-color);
}

.mexico {
  margin-top: 9px;
}

.footer {
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--title-footer-background);
  text-decoration: none;
}

.button ul {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 8px;
}

.buttons {
  border-radius: 4px;
  border: var(--team-background);
  background: var(--team-background);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  padding: 6px 22px;
}

.none-style {
  list-style: none;
}

.buttons:hover {
  color: var(--body-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

a:hover {
  color: var(--change-color);
}

button[type="button"]:hover {
  background-color: var(--change-color);
}

.adjust-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  gap: 30px;
}

.adjust-images.applications {
  width: 370px;
  margin-top: 30px;
  margin-left: 15px;
  margin-top: 15px;
  margin: 5px;
  list-style: none;
  font-weight: 500;
}

.applications:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.adjust-images figcaption {
  padding-left: 24px;
  padding-bottom: 10px;
  padding-top: 30px;
  border-bottom: 1px solid var(--border-color);
}

.adjust-images figcaption p.font {
  font-weight: 700;
  font-size: 16px;
}

.adjust-images figcaption p {
  padding-bottom: 20px;
  padding-top: 4px;
}

.footer-flex {
  display: flex;
  gap: 156px;
}

.social {
  display: flex;
  flex-direction: column;
  padding-top: 75px;
  gap: 20px;
}

.social-links {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 10px;
}

.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-links a:hover {
  background-color: var(--change-color);
}
